h5, h6 {
  color: var(--gold-text);
  vertical-align: middle;
  margin: 0;
  align-self: center;
}
#timeSlotDiv {
  display: grid;
  width: 100%;
  grid-template-columns: 70px 1fr;
  grid-template-rows: auto 30px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  vertical-align: middle;
  margin-top: 20px;
  margin-bottom: 40px;
}
#timeLabel {
  font-family: var(--font-aref-ruqaa);
  color: var(--gold);
  display: block;
  font-size: 22pt;
  font-weight: bolder;
  text-align: center;
  margin-top: -10px;
}
#descriptionP {
  color: black;
  display: block;
  line-height: 1.2;
}
#whereYouNeedToP, #locationP{
  font-size: 12pt;
  vertical-align: middle;
  line-height: 1;
}
#whereYouNeedToP{
  text-align: center;
}
#locationP{
  font-weight: bolder;
  font-size: 13pt;
}
.fontPoiretOne {
  font-family: var(--font-poiret-one);
  font-size: 14pt;
}
