<div id="contactUsDiv">
  <h3>Contact Us</h3>
  <p>
    Thank you for visiting our wedding website. We can't wait to celebrate our special day with you! We have created this website as a convenient way to share all of the important details with you in lead up to our wedding.
  </p>
  <p>
  Please do get in touch with us with any questions, concerns, good news or if your cat has done something particularly funny!
  You can <a href="mailto:chrisdorielle@gmail.com" target="_blank"> email us here</a>.
  </p>
</div>
