<div id="giftsDiv">
  <h3>Gifts</h3>
  <p>
  Your attendance on the day is what means the most to us and is all we will ask for. This especially applies to our overseas guests who are very generously paying to make the trip over.
</p>
<p>
  If you are absolutely desperate to give us a little present, we thank you for your generosity and kindness from the bottom of our hearts!
  <!-- If you would  have set up an online honeymoon fund which you could donate into. -->
</p>
  <!-- <p>
    From the bottom of our hearts, thank you!
  </p> -->
  <p>
    If you are absolutely desperate to give us a little present but are unsure of what, a contribution towards our honeymoon would be greatly appreciated.
  </p>
</div>
