<div id="venue">
  <h3>Medieval Abbey Buildings, Abingdon</h3>

  <p>All the festivites on the day will be happening at the
    <a target="_blank" id="abbeyLink" href="https://friendsofabingdon.org.uk/abbey-buildings/buildings-overview/">Medieval Abbey Buildings</a>
    in
    <a target="_blank" id="abingdonLink" href="http://www.abingdon.gov.uk/">Abingdon</a> town centre.
  </p>

  <div id="quoteAndImageDiv">
    <div id="abbeyImageDiv">
        <img [src]="abbeyImagePath" id="abbeyImage">
        <label id="imageLabel">Image from: <a target="_blank" href="https://friendsofabingdon.org.uk/abbey-buildings/long-gallery/">Friends of Abingdon</a></label>
    </div>
    <div id="quoteDiv">
      <p>
    "The beautiful medieval buildings are more than 600 years old, set in their own private walled gardens and with a mill stream running alongside.
    The buildings are a scheduled ancient monument, once part of Abingdon’s famous Abbey, and are full of history and unique in character.
    The Abbey Buildings are a combination of the Abbey Buildings: The Long Gallery and The Unicorn Theatre."
      </p>
      <a target="_blank" id="abbeyQuote" href="https://www.experienceoxfordshire.org/venue/abingdon-abbey-buildings/">Experience Oxfordshire - Abingdon Abbey Buildings</a>
    </div>
  </div>

  <div id="unicornTheatreDiv">
    The ceremony will be taking place at the Unicorn Theatre at the Medieval Abbey Buildings, which is also known as <a target="_blank" id="unicornTheatreLink" href="https://theunicorn.ac/web">The Unicorn Cinema</a>.
  </div>
  <div id="hintsDiv">
    <h4>Helpful Hint</h4>
    <p>
      Please note that the venue is a very old building. There are lots of steps and awkward changes of level throughout the building so please be careful with your steps.
      Although the dress code is formal, we would very much like for all of you to be comfortable. It's going to be a long day, so it's important for us that you are all happy and well.
      To this end, ladies, we don't mind should you wish to wear flat shoes.
      Most importantly, bring your dancing shoes! With plenty of wine and beer, and a great music selection (by yours truly) we’d love to see you on the dance floor.
    </p>
  </div>
</div>
