<div id="gettingThereDiv">
  <div id="addressAndMapDiv">
    <div id="addressDiv">
      Finding directions on Google Maps is easiest if you search for:
      <p style="margin-top: 10px;">Unicorn Theatre</p>
      <p>Medieval Abbey Buildings</p>
      <p>12 Checker Walk</p>
      <p>Abingdon</p>
      <p>OX14 3JB</p>
    </div>
    <div id="mapDiv">
      <a href="https://www.google.co.uk/maps/place/Unicorn+Theatre/@51.6696279,-1.2811962,17z/data=!3m1!4b1!4m5!3m4!1s0x4876b884ceab4109:0xc4267bf292c4aa58!8m2!3d51.6696279!4d-1.2790075" target="_blank"><img [src]="venueLocationImagePath" id="venueLocationImage"></a>
    </div>
  </div>
  <div id="byCarDiv">
    <h2> By Car</h2>
    <p>There is no parking at the venue itself; the nearest car park is located just 100m away in Abbey Close Car Park, and Rye Farm Car Park is just across the river off Bridge Street.
    The theatre can also be accessed via Thames Street, by walking through the covered allyway called the Slype.</p>
    <img [src]="abbeyParkingImagePath" id="abbeyParkingImage">
  </div>
  <div id="byTrainDiv">
    <h2>By Train</h2>
    <p>There is no train station in Abingdon. There are train stations in the nearby villages of Radley and Culham as well as the larger station in Oxford.
    Buses run from all three of these stations to the centre of Abingdon.</p>
  </div>
  <div id="byRiverDiv">
    <h2>By River</h2>
    <p>What better way to arrive than cruising down the Thames? There are regular paddle steamers that depart from Oxford and land in Abingdon near to the venue.</p>
  </div>
  <div id="byPlaneDiv">
    <h2>By Plane</h2>
    <p>The nearest airport is London Heathrow. The quickest way to get to Abingdon from Heathrow is to take a taxi (45 mins/around £70) or get the
    <a href="https://airline.oxfordbus.co.uk/heathrow/" target="_blank">Airline bus service to Oxford (90 mins/£30 return)</a> then get a taxi/bus on to Abingdon.
     Airline bus service to Oxford also runs from <a href="https://airline.oxfordbus.co.uk/gatwick/" target="_black">London Gatwick</a>.
     If Birmingham International is your airpot of choice, you could then get a train to Oxford followed by a bus to Abingdon.
     Getting to Abingdon from any other airport is extremely time consuming - especially avoid Stansted, Southend and Luton (trust us).</p>
  </div>
</div>
