<div id="accommodationDiv">
  <h3>You'll need a bed for the night!</h3>
  <div id="hiltonDiv">
    <section class="hotel">
      <a href="http://www.oxfordabingdonhotel.co.uk" target="_blank">Hilton Garden Inn</a>
      <p class="address">Marcham Road, Abingdon, OX14 1TZ</p>
      <p class="phone"> +44 (0)1235 553456</p>
    </section>
    <p>We have made an arrangement at the <a class="inline_link" href="http://www.oxfordabingdonhotel.co.uk" target="_blank">Hilton Garden Inn</a> (previously Oxford Abingdon Hotel) for a group fare for Friday 21st June and Saturday 22nd June 2019.
      The rate is at £129.00 per night based on 1 or 2 people sharing a room.  As quoted by the hotel, the rate is inclusive of the following items:</p>
      <ul>
        <li>Full English Breakfast</li>
        <li>Complimentary car parking whilst staying at the hotel</li>
        <li>Rooms are available from 3pm on the day of arrival until 12 noon on the day of departure (we will endeavour to meet requirements outside of these times where possible).</li>
        <li>Free of charge cancellation up until 23:00 (late time) on the day prior to arrival if cancelled after this time the first night of the stay will be charged at 100% with the remainder of the stay cancelled free of charge.  If you wish to check out early please check out before 12 noon on the day you’d like to leave without incurring early departure fees.
          Any non-arrivals are charged the first night of the stay will be charged at 100% with the remainder of the stay cancelled free of charge</li>
        <li>Complimentary standard access Wi-Fi</li>
        <li>VAT @ 20%</li>
      </ul>
      <p>
      If you are interested in taking up this offer, please let us know before end of December 2018.

      We are aware that this hotel is quite far from the venue (our original choice was The Cosener's House, right next to the venue, but sadly they are fully booked on our weeked as they also have a wedding on).
      For this reason, we'll be arranging transport from the hotel for all our guests staying at the Hilton to and from the venue on Saturday. If you would like to make use of this service, please let us know before end of February 2019.
    </p>
  </div>

  <p>If you don't fancy the Hilton Garden Inn, there are plenty B&Bs, guest houses and hotels dotted around Abingdon. Below are a couple of hotels close to the venue - this list is by no means exhaustive. </p>
  <div id="hotelsDiv">
    <section class="hotel">
      <a href="https://www.crownandthistleabingdon.co.uk/" target="_blank">Crown & Thistle</a>
      <p class="address">18 Bridge St, Abingdon OX14 3HS</p>
      <p class="phone"> +44 (0)1235 522556</p>
    </section>
    <section class="hotel">
      <a href="http://www.abingdonbedandbreakfast.com/" target="_blank">S. Howard Bed and Breakfast</a>
      <p class="address">22 E St Helen St, Abingdon OX14 5EB</p>
      <p class="phone"> +44 (0)1235 550979</p>
    </section>
    <section class="hotel">
      <a href="https://www.abbeyguest.uk/" target="_blank">Abbey Guest House</a>
      <p class="address">136 Oxford Road, Abingdon OX14 2AG</p>
      <p class="phone"> +44(0)1235 537020</p>
    </section>
  </div>
</div>
