#accommodationDiv {
  margin-left: 7%;
  margin-right: 7%;
  font-family: var(--font-poiret-one);
  font-size: 14pt;
}
#hotelsDiv {
  display: block;
  text-align: center;
}
h3 {
  font-family: var(--font-aref-ruqaa);
  color: var(--gold);
  word-spacing: 4px;
}
.hotel {
  display: inline-block;
  text-align: center;
  font-size: 13pt;
  margin-left: 1%;
  margin-right: 1%;
}
.hotel a {
  font-weight: bolder;
  color: var(--gold);
}
.address, .phone {
  line-height: 1;
}
.inline_link{
  color: var(--gold-text);
}
@media screen and (max-width: 600px) {
  .hotel {
    display: block;
    width: 100vw;
    text-align: left;
  }
}
